@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
    font-family: 'Roboto', sans-serif;
}

.header row {
    margin-top: 70px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    background: #e6e6e6;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    padding: 0 100px;
}

.navbar .logo {
    color: #ff523b;
    font-size: 30px;
    font-family: 'Lobster';
    font-weight: 700;
    letter-spacing: 1px;
}


.navbar .navbar-item ul {
    display: flex;
    list-style: none;
    padding: 0 0 0 40px;
}

.navbar .navbar-item li {
    padding: 0 8px;
}

.navbar .navbar-item li a {
    color: #555;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.navbar form {
    display: flex;
    height: 40px;
    border: 1px solid;
    background: #eee;
    border-radius: 5px;
    padding: 2px;
}

.navbar form .search-data {
    height: 100%;
    width: 100%;
    padding: 0 10px;
    color: #555;
    font-weight: 500;
    background: none;
    border: none;
}

.navbar form button {
    padding: 0 15px;
    background: #fff;
    border: none;
    cursor: pointer;
    font-size: 17px;
}



.container {
    max-width: 1300px;
    margin: auto;
    padding: 0 25px;

}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 40%;
    min-width: 300px;
}

.btn {
    position: relative;
    display: inline-block;
    background-color: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 50px;
    border-radius: 30px;
    left: -13px;
    top: -84px;
    transition: background 0.3s;
}

.btn:hover {
    background: #563434;
}


.categories {
    margin: 70px 0;
}


.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.col-3 p {

    font-size: 20px;
    font-weight: bolder;
}

.col-3 span {
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;

    margin-top: 20px;
}

.smaill-container {
    max-width: 1080px;
    margin: auto;
    padding: 0px 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: #555;
    font-weight: bolder;
}

.col-4 p {
    color: red;
    font-size: 18px;
    font-weight: 700;
}

.col-4:hover {
    transform: translateX(-5px);
}

.offer {
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img {
    padding: 50px;
}

/* footer */
.footer {
    background-color: #24272E;
    color: #8B8E96;
    font-size: 14px;
    padding: 60px 0 20px;
    width: 100%;
}

.footer p {
    color: #8B8E96;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    padding: 25px 0px 0px;
    margin: 0px 0px 16px;
    flex-basis: 12%;
    text-align: left;
    line-height: 23.8px;
    flex-basis: 30%;
}

.footer-col-2 {
    padding: 25px 0px 0px;
    margin: 0px 0px 16px;
    text-align: left;
    line-height: 23.8px;
}

.footer-col-2 ul li a {
    color: #8b8e96;
}

.footer-col-2:hover {
    color: #ffb416;
}

ul {
    list-style: none;
}

.footer-col-3 {
    color: #323c42;
    flex-basis: 40%;
    font-size: 14px;
    line-height: 23px;
    padding: 0px 10px;
    text-align: left;
}

.form-control {
    background-color: #ffffff;
    border-color: #ffffff;
    border: 1px solid #323c42;
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 40px;
    padding: 0px 110px 0px 20px;
}

.footer hr {
    border: none;
    background: #5b5b5b;
    height: 1px;
    margin: 20px;
}

.copyright {
    text-align: center;
}

.menu-icon {
    position: absolute;
    width: 28px;
    margin-left: 90%;

}

.search-box {
    width: 100%;
    position: relative;
}

.search-box__input {
    width: 20%;
    border: 3px solid #ff523b;
    border-right: none;
    padding: 13px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #555;
}

.search-box__btn {
    width: 40px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    border: none;
    background: none;
}

.right-colum img {
    width: 100%;
}




/* media query  menu */

